# Compiled class file
*.class

# Log file
*.log

#sqllite
*.db

# Intellij
.idea/
*.iml
*.iws

### Eclipse ###

### Eclipse Patch ###
# Eclipse Core		
.project

# JDT-specific (Eclipse Java Development Tools)		
.classpath

### Gradle ###
.gradle
/build/
/caches/
/daemon/
/native/
/wrapper/

# Mac DS file
.DS_Store


/bin/
/out/
